certifi
charset-normalizer
exceptiongroup
h11
idna
sniffio
typing-extensions
urllib3
annotated-types
anyio
httpcore
pydantic-core
requests
httpx
jsonpointer
orjson
pydantic
requests-toolbelt
jsonpatch
langsmith
packaging
pyyaml
tenacity
asttokens
chardet
colorama
distro
executing
jiter
langchain-core
pygments
regex
tqdm
icecream
joblib
langchain-text-splitters
openai
pysrt
python-dotenv
tiktoken
python-docx
PyMuPDF
simplemma
gradio
